:root {
  --bg: #ffffff;
  --page-highlights: #2f303a;
  --highlights: #2196f3;
  --dimmed: #f5f4fa;
  --default-text: #212121;
  --dimmed-text: #757575;
  --contrast-text: #ffffff;
  --highlighted-text: #2196f3;
  --font-roboto: "Roboto", sans-serif;
  --font-relaway: "Raleway", sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--bg);
  font-family: var(--font-roboto);
  color: var(--default-text);
  font-size: 14px;
  margin: 0;
  min-width: fit-content;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: var(--default-text);
  display: inline-block;
  cursor: pointer;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding: 94px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* HEADER */

.top-baseline {
  width: 100%;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #ececec;
}

.header-parent {
  display: flex;
  align-items: center;
}

.header-logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.navigation-bar {
  display: flex;
  gap: 50px;
}

.navigation-bar *:hover {
  color: var(--highlighted-text);
}

.navigation-link {
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;

  padding: 32px 0;
}

.header-contacts {
  display: flex;
  margin-left: auto;
  gap: 50px;
}

.contact-item * {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.contact-icon {
  fill: currentColor;
}

.icon-mail {
  width: 16px;
  height: 12px;
}

.icon-phone {
  width: 10px;
  height: 16px;
}

.header-contact {
  padding: 32px 0;
}

.header-contact:hover {
  color: var(--highlighted-text);
  fill: currentColor;
}

/* HERO */

.hero-banner {
  background-color: var(--page-highlights);
  text-align: center;
  padding: 200px 0;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("images/hero-baner.jpg");
  height: 600px;
  max-width: 1600px;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-text {
  color: var(--contrast-text);
  font-size: 44px;
  font-weight: 900;
  line-height: 1.3;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  display: block;
  margin: 0 auto 30px auto;
  width: 696px;
}

.offer-button {
  cursor: pointer;
  background-color: var(--highlights);
  color: var(--contrast-text);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;

  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  display: inline-block;
}

/* FEATURES */

.features-bar {
  width: 100%;
}

.features-parent {
  text-align: center;
}

.features-list {
  display: flex;
  gap: 30px;
}

.feature-item {
  width: 270px;
}

.feature-caption {
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.feature-description {
  color: var(--dimmed-text);
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.feature-illustration {
  height: 120px;
  width: 270px;
  margin-bottom: 30px;
  background-color: var(--dimmed);
  border-radius: 4px;
  fill: #212121;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-feature {
  width: 70px;
  height: 70px;
}

/* ACTIVITY SECTION */

.activity-bar {
  padding-top: 0;
}

.activity-parent {
  text-align: center;
}

.activity-list {
  display: flex;
  gap: 30px;
}

/* TEAM */

.block-caption {
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.team-bar {
  background-color: var(--dimmed);
  width: 100%;
}

.team-parent {
  text-align: center;
}

.team-list {
  display: flex;
  gap: 30px;
}

.member-card {
  background-color: var(--bg);
  width: 270px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.member-name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.03em;

  margin-bottom: 10px;
}

.member-title {
  color: var(--dimmed-text);
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: 0.03em;

  display: block;
  margin-bottom: 16px;
}

.member-data {
  padding: 30px 0;
}

.member-socials-list * {
  color: var(--dimmed-text);
}

.member-circle:hover,
.member-circle:focus {
  background-color: var(--highlights);
  fill: var(--contrast-text);
}

/* Clents */

.client-bar {
  text-align: center;
}

.client-list {
  display: flex;
  gap: 30px;
}

.client-card {
  color: var(--dimmed-text);
  height: 92px;
  width: 170px;
  border: solid 1px var(--dimmed);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.icon-client {
  fill: currentColor;
  width: 106px;
  height: 60px;
}

.client-card:hover {
  border: solid 1px var(--highlights);
  color: var(--highlighted-text);
  fill: currentColor;
}

/* FOOTER */

.low-baseline {
  background-color: var(--page-highlights);
  color: var(--contrast-text);
  line-height: 1.7;
  letter-spacing: 0.03em;

  width: 100%;
  padding: 60px 0;
}

.footer-parent {
  display: flex;
  gap: 70px;
  align-items: baseline;
}

.low-baseline * {
  color: var(--contrast-text);
  font-style: inherit;
}

.footer-logo {
  margin-bottom: 20px;
}

.address-list .item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-text {
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 20px;
}

.socials-icon {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  fill: currentColor;
}

.icon-social {
  width: 20px;
  height: 20px;
}

.socials-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.twitter {
  background-color: var(--highlights);
}

/* PORTFOLIO navigation */

.buttons-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.portfolio-navigation {
  background-color: var(--dimmed);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;

  padding: 6px 22px;
  border: none;
  border-radius: 4px;
}

.portfolio-navigation:hover,
.portfolio-navigation:focus {
  background-color: var(--highlights);
  color: var(--contrast-text);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* List of products */

.products-list {
  display: flex;
  flex-wrap: wrap;
}

.product-data {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.product-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.product-item:hover,
.product-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.product-item:nth-child(3n) {
  margin-right: 0;
}
.product-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.product-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;

  margin-bottom: 4px;
}

.product-type {
  color: var(--dimmed-text);
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;

  display: block;
}

.active {
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--highlighted-text);
}

.logo {
  font-family: var(--font-relaway);
  font-size: 26px;
  line-height: 1.1;
  letter-spacing: 0.03em;
}

.logo-highlight {
  color: var(--highlighted-text);
}

.contact {
  color: var(--dimmed-text);
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
}
