.icon-close {
  width: 11px;
  height: 11px;
  fill: currentColor;
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #ffffff;
  color: #000;
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: color var(--animate);
  &:hover,
  &:focus {
    color: var(--highlights);
  }
}
