p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: var(--default-text);
  display: inline-block;
  cursor: pointer;
}
