.client-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.client-card {
  flex-grow: 1;
  min-width: 210px;
  min-height: 92px;
  color: var(--dimmed-icons);
  border: solid 1px var(--dimmed-icons);
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;

  @include mq(tab-only) {
    min-width: 226px;
  }

  @include mq(desk) {
    min-width: 170px;

    transition: border-color var(--animate), color var(--animate);
    &:hover,
    &:focus {
      border: solid 1px var(--highlights);
      color: var(--highlights);
    }
  }
}

.client-card-highlight {
  @include mq(not-desk) {
    border: solid 1px var(--highlights);
    color: var(--highlights);
  }
}

.icon-client {
  fill: currentColor;
  width: 106px;
  height: 60px;
}
