.low-baseline {
  background-color: var(--page-highlights);
  color: var(--contrast-text);
  line-height: 1.7;
  letter-spacing: 0.03em;

  width: 100%;
  padding: 60px 0;
}

.footer-parent {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: baseline;

  @include mq(tab-only) {
    flex-flow: column wrap;
    flex-direction: row;
    gap: 0;
  }
  @include mq(desk) {
    display: flex;

    align-items: baseline;
    flex-direction: row;
    gap: 70px;
  }
}

.footer-logo {
  color: inherit;
  margin-bottom: 20px;
  font-size: 24px;

  @include mq(desk) {
    font-size: 26px;
  }
}

// .address-list .item:not(:last-child) {
//   margin-bottom: 9px;
// }

.footer-address {
  @include mq(mob-only) {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  @include mq(tab-only) {
    text-align: center;
    display: block;
    width: 50%;
  }
}

.address-list {
  display: flex;
  gap: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include mq(desk) {
    display: block;
    min-width: 231px;
    & .item:not(:last-child) {
      margin-bottom: 9px;
    }
  }
}

.location {
  color: inherit;
}

.footer-socials {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  @include mq(tab-only) {
    width: 50%;
  }

  @include mq(desk) {
    width: 100%;
    align-items: start;
  }
}

.footer-form {
  width: 100%;
  display: block;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  @include mq(desk) {
    flex-direction: row
    ;
    display: flex;
    justify-content: end;
    align-items: baseline;
    margin-left: auto;
    gap: 12px;
  }
}

.footer-text {
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  @include mq(desk) {
  }
}
