.products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.product-data {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.product-link {
  display: block;
  transition: box-shadow var(--animate);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:hover .product-overlay,
  &:focus .product-overlay {
    opacity: 1;
    transform: translateY(0);
  }
}

.product-overlay {
  position: absolute;
  top: 0;

  padding: 63px 24px;
  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: translateY(100%);
  transition: transform var(--animate), opacity var(--animate);

  color: var(--contrast-text);
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

.product-card {
  position: relative;
  overflow: hidden;
}

.product-name {
  margin-bottom: 4px;

  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}

.product-type {
  display: block;

  color: var(--dimmed-text);
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
}
